html, body {
	font-family: 'Arial', Helvetica Neue, Helvetica, sans-serif;
	color: #777777;
	background-image: url("../images/profile/dust_scratches.png");
	height: 100%;
	margin-bottom: 0;
}

/***************************************
WRAPS ENTIRE PAGE FOR FLEXBOX FOOTER
***************************************/

.wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

/***************************************
HEADING TAGS
***************************************/

h1 {
	width: 300px;
	height: 75px;
	float: left;
	position: absolute;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 23px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding-top: 25px;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	color: #4aaaa5;
	font-weight: bold;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #4aaaa5;
	font-weight: bold;
}

h4 {
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 21px;
	padding-top: 17px;
	position: absolute;
	color: #ffffff;
	text-align: center;
	background-color: #4aaaa5;
	height: 50px;
	width: 100%;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

/***************************************
NAVIGATION
***************************************/

header {
	width: 100%;
	height: 75px;
	position: absolute;
	background-color: #ffffff;
	border-bottom: #cccccc 2px solid;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
	z-index: 2;
}

.nav-container {
	width: 960px;
	margin: auto;
}

.nav {
	margin-top: 30px;
	float:right;
}

.nav a {
	display: inline-block;
	text-decoration: none;
	color: #666666;
	margin: 0 16px 0 16px;
}

.nav a:hover {
	color: #4aaaa5;
}

.nav a:nth-child(3) {
	margin-right: 0;
}

/***************************************
MAIN CONTENT AREA
***************************************/

.content-area {
	flex: 1 0 auto;
	width: 960px;
	height: 100%;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

.about-me {
	background-color: white;
	border: #dddddd 1px solid;
	width: 650px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

.profile-img {
	float: left;
	width: 280px;
	padding: 5px 30px 20px 0;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

.line-spacing {
	line-height: 25px;
}

.connect-with-me {
	background-color: white;
	border: #dddddd 1px solid;
	width: 270px;
	float: right;
	position: relative;
	padding: 40px 30px 40px 30px;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

.social-icons a {
	width: 64px;
	display: inline-block;
	margin-right: 3px;
}

.social-icons a:nth-child(3) {
	margin-right: 0;
}

/***************************************
PORTFOLIO PAGE STYLES
***************************************/

.portfolio {
	background-color: white;
	border: #dddddd 1px solid;
	width: 650px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

.imgs-left {
	float: left;
	padding-bottom: 26px;
	position: relative;
}

.imgs-right {
	float: right;
	padding-bottom: 26px;
	position: relative;
}

/***************************************
CONTACT FORM
***************************************/

.contact-me {
	background-color: white;
	border: #dddddd 1px solid;
	width: 650px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

input[type=text], input[type=email] {
	width: 100%;
	height: 30px;
	padding-left: 10px;
	margin-top: 8px;
	border: #cccccc .5px solid;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

textarea {
	width: 100%;
	height: 200px;
	margin-top: 8px;
	border: #cccccc .5px solid;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}

.user-mail {
	padding-top: 20px;
}

.user-message {
	padding-top: 20px;
}

.button {
	padding-top: 20px;
}

button[type=submit] {
	width: 120px;
	height: 40px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 16px;
	border: none;
}

/***************************************
FOOTER
***************************************/

footer {
	width: 100%;
	height: 75px;
	color: #cccccc;
	background-color: #666666;
	font-size: 13px;
	text-align: center;
	padding-top: 40px;
	border-top: #4aaaa5 7px solid;
	box-sizing: border-box; /* BOX SIZE ISN'T AFFECTED BY PADDING OR BORDER */
}